In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Read the CSV and Perform Basic Data Cleaning

In [2]:
# Load the data
file = "FoodAccess.csv"
df = pd.read_csv(file)
# check data type
df.dtypes

Urban                   int64
Pop2010                 int64
OHU2010                 int64
PovertyRate           float64
MedianFamilyIncome    float64
TractLOWI             float64
LA1and10                int64
dtype: object

In [3]:
# Find null values
for column in df.columns :
    print(f"Column {column} has {df[column].isnull().sum()} null values")

Column Urban has 0 null values
Column Pop2010 has 0 null values
Column OHU2010 has 0 null values
Column PovertyRate has 3 null values
Column MedianFamilyIncome has 748 null values
Column TractLOWI has 4 null values
Column LA1and10 has 0 null values

In [4]:
# Remove null rows
#--Median Family Income has 748 null values which is 1.04%. This figure is insignificant compared to the importance of the
#feature towards prediction. So we deciide to drop null values than remove the column.
df=df.dropna()

In [5]:
#Find duplicate entries
print(f"Duplicate entries: {df.duplicated().sum()}")

Duplicate entries: 0

# Define Model

In [6]:
# Create features
X = df.drop(columns="LA1and10") 

# Create target
y = df["LA1and10"]

In [7]:
# define model
model = LogisticRegression(solver='lbfgs', random_state=1)
# fit model

# Split model
X_train, X_test, y_train, y_test = train_test_split(X,
    y, random_state=1, stratify=y)

# fit model
model.fit(X_train, y_train)
# make predictions on the entire training dataset
predictions = model.predict(X_test)

In [8]:
pd=pd.DataFrame({"Prediction": predictions, "Actual": y_test})
pd.head(50)

       Prediction  Actual
36858           0       1
39902           0       0
45495           0       0
8231            0       0
64321           0       0
39259           0       1
51030           0       0
29719           0       1
24646           1       1
36362           0       1
5498            0       0
4962            0       0
14311           0       0
29621           1       0
30966           0       0
7949            0       0
11547           0       0
59505           0       1
13242           1       0
36781           0       1
33634           0       0
35025           0       0
18112           0       1
10412           0       0
63729           0       1
15695           0       1
22470           0       0
13517           0       1
46298           0       0
52012           0       0
72208           0       0
52708           0       0
10872           0       1
53280           0       0
67909           0       0
57109           0       1
55006           0       0
72050           0       0
1355            0       1
1032            0       1
70766           0       1
5500            0       0
24080           1       0
21932           1       0
915             1       1
30989           0       0
7365            0       0
52568           0       0
47018           0       1
832             0       0